<style>
  

header {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  background-color:red;
}



h1 {
  font-size: 5em;
}

.banner {
  font-family: Cookie, serif;
  font-size: 6em;
  text-align:center;
  margin-top: 7%;
  margin-bottom: 2%;
  color:rgb(215,225,234);
}

header img {
  width:30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
}

nav li {
  float: left;
  min-width: 180px;
  text-align: center;
}

nav a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom:20px;
  letter-spacing: 1px;
  background-color: gainsboro;
  color:darkslateblue;
  text-decoration: none;
  font-weight: bold;
  margin-left:15px;
  margin-right:15px;
  border-radius:15px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
}

li a:hover {
    background-color: royalblue;
    color:gainsboro;
}

.main-nav {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

/* The Magic Float Center Code */
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}

.clearfix {
  clear:both;
}


body {
  background-color:rgb(36,67,139);
  font-family: Roboto, sans-serif;
}

footer {
  text-align: center;
}

footer p {
  text-shadow: 3px 2x grey;
}

.center {
  text-align: center;
}

p.center {
  padding-left: 10%;
  padding-right: 10%;
}

.tomato {
  background-color:tomato;
}

.rightmarg {
  margin-right: 500px;
}

.entry {
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 10px;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: solid;
  border-left-color: skyblue;
  border-left-width: 5px;
}

</style>

/* Blue color scheme:

background color: darkslateblue rgb(36,67,139)
grey: gainsboro rgb(215,225,234)
light blue: turqoise rgb(57,217,240)
medium blue: cornflower bleu rgb(71,171,241)
dark blue: royalblue rgb(55,97,246)

*/